<% layout('/layouts/boilerplate') %>
<style>
    .form-group1
    {
        margin-bottom: 10px;
    }
</style>
<div class="container">
    <h1>Add New Hotel</h1>
    <form action="/hotels" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title/Name</label>
            <input type="text" class="form-control" id="title" name="hotel[title]" required>
            <div class="invalid-feedback">
                Please provide a title.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" name="hotel[location]" required>
            <div class="invalid-feedback">
                Please provide a location.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="hotel[description]" required></textarea>
            <div class="invalid-feedback">
                Please provide a description.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group form-group1">
            <label for="price">Price per Night</label>
            <input type="number" class="form-control" id="price" name="hotel[price]" required>
            <div class="invalid-feedback">
                Please provide a price.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <input type="file" name="image" id="" multiple>
        
       
        <div>
            <button type="submit" class="btn btn-primary mt-3">Add Hotel</button>
        </div>
    </form>
</div>
